framework: auto-detect
source https://api.nuget.org/v3/index.json

storage: none

nuget Aardvark.Build                                ~> 2.0.2
nuget Aardvark.Data.Opc                               ~> 0.11.0
nuget Aardvark.Application.Slim                     ~> 5.6.0
nuget Aardvark.Geometry
nuget Aardvark.PixImage.ImageSharp
nuget Aardvark.PixImage.Devil
nuget Aardvark.Data.Wavefront